*.o
*.so
*.o.d
*.exports
*.log
*.o_a
*.a
*.status
*.m4
autom4te.cache/
channels/h323/Makefile
main/editline/
menuselect
menuselect.*
menuselect-tree
*.*~
tags
utils
makeopts
makeopts.*
*.tar.gz
main/version.c
main/asterisk
defaults.h
include/asterisk/autoconfig.h
include/asterisk/build.h
include/asterisk/buildopts.h
include/asterisk/version.h
doc/core-en_US.xml
.*
*-summary.*
